/* ------------------------------------------------- */
/* CSS Vars */
:root {
  --limeGreen: hsl(163, 72%, 41%);
  --brightRed: hsl(356, 69%, 56%);

  --facebook: hsl(203, 89%, 53%);
  --twitter: hsl(195, 100%, 50%);
  --youTube: hsl(348, 97%, 39%);
  --instagram-yellow:  hsl(37, 97%, 70%);
  --instagram-pink: hsl(329, 70%, 58%);

  --toogleDark-blue: hsl(210, 78%, 56%);
  --toogleDark-green: hsl(146, 68%, 55%);
  --toogleDark-circle: hsl(230, 17%, 14%);

  --dark-bg: hsl(230, 17%, 14%);
  --dark-bg-top:hsl(232, 19%, 15%);
  --dark-bg-hover1:hsl(228, 28%, 20%);
  --dark-bg-hover2: hsl(228, 28%, 24%);
  --dark-color-purple: hsl(228, 34%, 66%);
  --dark-color-white: hsl(0, 0%, 100%);
  --dark-bg-modal: hsl(229, 19%, 23%);
  --dark-purple-chart: hsl(243, 51%, 70%);

  --toogleLight: hsl(230, 22%, 74%);
  
  --light-bg: hsl(0, 0%, 100%);
  --light-bg-top: hsl(225, 100%, 98%);
  --light-bg-hover1: hsl(227, 47%, 96%);
  --light-bg-hover2: hsl(228, 20%, 92%);
  --light-color-purple:  hsl(228, 12%, 44%);
  --light-color-white: hsl(230, 17%, 14%);
  --light-bg-modal: hsl(228, 46%, 98%);
  --light-purple-chart: hsl(243, 51%, 70%);
}

/* ------------------------------------------------- */
/* UpDown Color */
.to-up { color: var(--limeGreen); }
.to-down { color: var(--brightRed); }
.to-up > .big-number { color: var(--limeGreen)!important; }
.to-down > .big-number { color: var(--brightRed)!important; }

/* ------------------------------------------------- */
/* Tags Element */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------- */
/* Container App */

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-home::before {
  width: 100%;
  height: 15em;
  content: '';
  position: absolute;
  top: 0;
  background-color: aliceblue;
}

/* ------------------------------------------------- */
/* NavBar */

.navbar-container {
  z-index: 1;
  max-width: 960px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 550px) {
  .navbar-container {
    width: 80%;
  }
}
@media (min-width: 750px) {
  .navbar-container {
    flex-direction: row;
    align-items: unset;
    text-align: left;
  }
}

.navbar-text {
  display: flex;
  flex-direction: column;
}

.navbar-title {
  margin-bottom: 0;
}

.navbar-subtitle {
  margin-top: 0;
  font-weight: 700;
}

/* ------------------------------------------------- */
/* SocialMain */

.main-container {
  z-index: 2;
  max-width: 960px;
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 550px) {
  .main-container {
    width: 80%;
  }
}

/* ------------------------------------------------- */
/* Overview */

.overview-container {
  z-index: 1;
  max-width: 960px;
  width: 85%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 550px) {
  .overview-container {
    width: 80%;
  }
}
@media (min-width: 750px) {
  .overview-container {
    text-align: left;
  }
}

.overview-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ------------------------------------------------- */
/* Toogle Slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient( var(--toogleDark-blue), var(--toogleDark-green)) no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: #ccc;
}

.dark-toogle {
  background: linear-gradient( var(--toogleDark-blue), var(--toogleDark-green)) no-repeat;
}

.light-toogle {
  background: var(--toogleLight);
}

/* ------------------------------------------------- */
/* Cards */

.card {
  border-radius: 0.5em;
  margin: 1em;
  display: flex;
  width: 208px;
  box-sizing: border-box;
  flex-direction: column;
  background: #efefef;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #efefef;
  margin-top: .25em;
  border-radius: .1em;
  padding-bottom: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
}

.card-container:hover {
  cursor: pointer;
}

.card-container.sm {
  padding: 0 1em 1em;
  margin-top: 0;
}

.card-social,
.card-number,
.card-up-down,
.card-social.sm,
.card-number.sm {
    display: flex;
    align-items: center;
}

.card-social,
.card-number,
.card-up-down {
    justify-content: center;
}

.card-number.lg {
  flex-direction: column;
}
.card-social-text.lg {
  margin-left: 0.5em;
}
.card-number-text.lg {
  text-transform: uppercase;
}

.card-social.sm,
.card-number.sm{
  justify-content: space-between;
}

/* ------------------------------------------------- */
/* Cards Border */

.fb-border {
  background: var(--facebook) no-repeat;
}

.tw-border {
  background: var(--twitter) no-repeat;
}

.yt-border {
  background: var(--youTube) no-repeat;
}

.ig-border {
  background: linear-gradient( var(--instagram-yellow), var(--instagram-pink)) no-repeat;
}
