/* ------------------------------------------------- */
/* Dark Theme */

body.dark-theme {
    background-color: var(--dark-bg);
}

#root.dark-theme {
    background-color: var(--dark-bg);
}

.container-home.dark-theme {
    background-color: var(--dark-bg);
}

.container-home.dark-theme::before {
    background-color: var(--dark-bg-top);
}

.navbar-title.dark-theme,
.toogle-text.dark-theme,
.big-number.dark-theme,
.overview-title.dark-theme {
    color: var(--dark-color-white);
}

.navbar-subtitle.dark-theme,
.card-social.sm.dark-theme {
    color: var(--dark-color-purple);
}

.card-social-text.lg.dark-theme,
.card-number-text.lg.dark-theme {
    color: var(--dark-color-purple);
}

.card-container.dark-theme,
.slider.dark-theme:before,
.modal-top.dark-theme {
    background-color: var(--dark-bg-hover1);
}

.card-container.dark-theme:hover {
    background-color: var(--dark-bg-hover2);
}

.modal-title.dark-theme,
.modal-user.dark-theme,
.modal-caption.dark-theme,
.modal-close.dark-theme {
    color: var(--dark-color-white);
}

.modal-chart.dark-theme {
    color: var(--dark-purple-chart);
    background: var(--dark-bg-modal);
}

.modal.dark-theme {
    background: hsl(229, 27%, 20%);
    border-radius: 0.5em;
}