/* ------------------------------------------------- */
/* Light Theme */

body.light-theme {
    background-color: var(--light-bg);
}

#root.light-theme {
    background-color: var(--light-bg);
}

.container-home.light-theme {
    background-color: var(--light-bg);
}

.container-home.light-theme::before {
    background-color: var(--light-bg-top);
}

.navbar-title.light-theme,
.toggle-text.light-theme,
.big-number.light-theme,
.overview-title.light-theme {
    color: var(--light-color-white);
}

.navbar-subtitle.light-theme,
.card-social.sm.light-theme {
    color: var(--light-color-purple);
}

.card-social-text.lg.light-theme,
.card-number-text.lg.light-theme {
    color: var(--light-color-purple);
}

.card-container.light-theme,
.slider.light-theme:before,
.modal-top.light-theme {
    background-color: var(--light-bg-hover1);
}

.card-container.light-theme:hover {
    background-color: var(--light-bg-hover2);
}

.modal-title.light-theme,
.modal-user.light-theme,
.modal-caption.light-theme,
.modal-close.light-theme {
    color: var(--light-color-white);
}

.modal-chart.light-theme {
    color: var(--light-purple-chart);
    background: var(--light-bg-modal);
}

.modal.light-theme {    
    background: hsl(228, 50%, 96%);
    border-radius: 0.5em;
}