.card {
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    width: 350px;
    box-sizing: border-box;
    flex-direction: column;
}

.card.lg {
    height: 300px;
    align-items: center;
}
.card.sm {
    height: 150px;
}

.card-large-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.card-lg-social,
.card-lg-number,
.card-lg-up-down {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-lg-social { order: 1; }
.card-lg-number { 
    order: 2;
    flex-direction: column;
}
.card-lg-up-down { order: 3; }

.card-lg-social-text { margin-left: 0.5em; }
.card-lg-number-text { text-transform: uppercase; }

.card-small-container {
    display: flex;
    flex-direction: column;
}

.card-sm-social,
.card-sm-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}