.modal-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal { 
    width: 80%;
    max-width: 520px;
}

.modal-top { 
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em; 
}

.modal-chart {
    display: flex;
    padding: 1em 0.5em;
    height: 150px;
    background: hsl(229deg 19% 23%);
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.modal-header-text {
    display: flex;
    flex-direction: column;
}

.modal-user {
    display: flex;
    align-items: flex-start;
}

.modal-user > p { 
    margin: 0 0 0 0.5em;
    font-size: small; 
}

.modal-close { 
    cursor: pointer;
    font-size: large;
    margin-top: 0.5em;
}

.modal-data {
    display: flex;
    margin-top: 1em;
    padding: 0 1em 1em;
}

.modal-text {
    display: flex; 
    align-items: center;
    margin-right: 1.5em;
}

.modal-caption {
    font-size: x-small;
    margin-left: 0.5em;
}